// Compass Defaults
$default-border-radius: 4px;

// Typography
$base_font_size: 16px;

// Colors
$highlight: #029EC6;
$highlight_rgba: rgba(2,158,198,.7);
$light: #fff;
$dark: #000;
$text: #797979;

// Structure
$spacing: 20px;