// Compass Defaults
$default-border-radius: 4px;

// Typography
$base_font_size: 16px;

// Default Theme Colors
$default_highlight: #029EC6;
$default_highlight_rgba: rgba(2,158,198,.7);
$default_light: #fff;
$default_dark: #000;
$default_text: #797979;

// Theme 1 Color
$theme_1_highlight: #93c273;
$theme_1_highlight_rgba: rgba(147,194,115,.7);
$theme_1_text: #999;

// Theme 2 Color
// $theme_2_highlight:
// $theme_2_highlight_rgba:
// $theme_2_text:

// Structure
$spacing: 20px;